/* --- Basis-Tags --- */

html {
    background-color: #e0e0e0;
}
body {
    margin: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* --- Haupt-Container --- */

#header {
    background-color: #d9d9d9;
    width: 100%;
    min-height: 100px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content {
    min-height: 50vh;
}
#footer {
    background-color: #d9d9d9;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --- Menu --- */

#menu .open{
    display: none;   
}
#hamburger{
    color: #13171c;
    background-color: #bdbdbd;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 55px;
    margin-right: 20px;
    border: 2px solid black;
    cursor: pointer;
}

/* --- Inhalte --- */

#header #logo h1 {
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0 0 0 10px;
}
#footer #qrcode img {
    height: 100px;
    margin: 25px;
}
#footer #social-links {
    margin-right: 25px;
}
